@model Deneme.Models.Doctor

@{
    ViewData["Title"] = "Doktor Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Bu doktoru silmek istediğinize emin misiniz? Bu doktora ait tüm randevular kaldırılacaktır!</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group mb-3">
        <input type="hidden" asp-for="DoctorId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Doktorlar Listesine Geri Dön</a>
    </form>
</div>
