@model Deneme.Models.Department

@{
    ViewData["Title"] = "Departman Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Bu Departmanı Silmek İstediğinize Emin Misiniz? Bu departmana bağlı oaln tüm doktorlar ve randevular kaldırılacaktır.</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Departmanlar Listesine Geri Dön</a>
    </form>
</div>
