@model IEnumerable<Deneme.Models.Department>

@{
    ViewData["Title"] = "Departmanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Departmanlar Listesi</h3>

<hr />
<div>
    <a asp-action="Create" class="btn btn-primary btn-sm" class="btn-btn-primary">Yeni Departman Ekle</a>
</div>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger " asp-route-id="@item.DepartmentId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
