@using Deneme.Data;
@using Microsoft.AspNetCore.Identity
@using Deneme.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject DenemeDbContext k


<ul class="navbar-nav">


    @if (SignInManager.IsSignedIn(User))
    {
        var sorgu = k.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
        string user_name = sorgu.FirstAndLastName;
        
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba, @user_name</a>
        </li>
        
        <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-danger  rounded-pill">Çıkış yap</button>
                </form>

        </li>
       
    }
    @if (!SignInManager.IsSignedIn(User))
    {
        
            <form asp-area="Identity" asp-page="/Account/Login">
               
                    <button type="submit" class="btn btn-danger rounded-pill"> 
                        Giriş Yap
                    </button>
             
            </form>
    }

</ul>
