@using Deneme.Data;
@using Microsoft.AspNetCore.Identity
@using Deneme.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject DenemeDbContext k


<ul class="navbar-nav">


    @if (SignInManager.IsSignedIn(User))
    {
        var sorgu = k.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
        string user_name = sorgu.FirstAndLastName;
        
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba, @user_name</a>
        </li>
        
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
       
    }
    @if (!SignInManager.IsSignedIn(User))
    {


        


      

        <li class"nav-item">

            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login">
                    <button type="submit" class="nav-link btn btn-link btn-primary text-white">Giriş Yap</button>
            </form>
               
         
        </li>
    }

</ul>
