@using Deneme.Areas.Identity.Data;
@using Deneme.Data;
@using Microsoft.AspNetCore.Identity;
@model Deneme.Models.Appointment
@inject DenemeDbContext k

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sorgu = k.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
    string user_id = sorgu.Id;
    string user_Name = sorgu.FirstAndLastName;
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input class="form-control" asp-for="UserId" value="@user_id" hidden readonly></input>
                <input class="form-control" value="@user_Name" readonly></input>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorName" id="doctorId"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentName" id="departmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            doctors();
        });
        $("#departmentId").change(function () {
            doctors();
        });
        var doctors = function () {
            $.ajax({
                url: '@Url.Action("GetDoctors","Appointment")',
                type: 'GET',
                data: {
                    departmentId: $('#departmentId').val(),

                },
                success: function (data) {
                    $('#doctorId').find('option').remove()
                    $(data).each(
                        function (index, item) {

                            $('#doctorId').append('<option value="' + item.doctorId + '">' + item.doctorName + '</option>')
                        }
                    );
                }
            })
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
